body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #0D6E63;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 30px auto;
    padding: 0;
    width: 300px;
}

li {
    margin: 10px 0;
}

a {
    display: block;
    background-color: #0D6E63;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #095349;
}
